header {
	background-color: #a3d1d9;
	height: 50px;
}
.container-head {
	width: 800px;
	margin: 0 auto;
	overflow: hidden;
}
.head-logo {
	width: 200px;
	display: inline;
	float: left;
	padding-top: 20px;
	color: #3a494c;
}
.head-links {
	display: inline;
	float: right;
	padding-top: 20px;
	padding-right: 0px;
}
.head-links a {
	color: #3a494c;
	font-family: Tahoma;
	padding-left: 20px;
}

.land {
	background-color: #a3d1d9;
	height: 300px;
}

.welcome {
	padding-top: 100px;
	width: 300px;
	float: left;
	color: #FFFFFF;
	font-size: 36px;
	text-align: center;	
}
.welcome-image {
	padding-top: 50px;
	padding-left: 150px;
	float: left;
	text-align: right;
}
.welcome-link {
	color: #a3d1d9;
	padding: 12px;
	background-color: #fff;
	font-size: 12px;
	border-radius: 10px;
	text-decoration: none;
	font-weight: Bold;
}
.wel-img {
	height: 220px;
	width: 300px;
	box-shadow: 0px 20px 40px -30px;
	margin-bottom: 15px;
}

.preim {
	background-color: #FFFFF;
	height: 300px;
}
.preim-item {
	padding-top: 40px;
	width: 240px;
	float: left;
	color: #323232;
	text-align: center;	
	border:#fff solid 1px;
	text-align: center;
	margin-left: 12px;
}
.preim-item .title {
	font-size: 18px;
	font-weight: Bold;
	padding-top: 10px;
}
.preim-item .description {
	padding-top: 10px;
	font-size: 12px;


}

.works {
	background-color: #99d4a5;
}
.section-label {
	margin: 0 auto;
	text-align: center;
	padding-top: 15px;
	font-size: 24px;
	color: #FFF;
}
.works-description {
	width: 400px;
	text-align: center;
	padding-top: 15px;
	font-size: 14px;
	color: #769c7e;
	margin: 0 auto;
}
.works-navi {
margin: 15px auto;
text-align: center;
}
.works-navi a {
	color: #3a494c;
	font-family: Tahoma;
	margin-right: 15px;
	padding: 5px;
	color: #FFFFFF;
	text-decoration: none;
	border-radius: 10px;
	border: #99d4a5 solid 2px;
}
.works-navi a:hover {
	border: #FFFFFF solid 2px;
}

.works-navi .active-link {
	background-color: #fff;
	color: #99d4a5;
	border: #FFFFFF solid 2px;
}

.works-img  img{
	width: 220px;
	height: 150px;
	margin: 15px 20px;
}

.works-link {
	text-align: center;
	margin: 20px auto;
}

.usl {
	background-color: #fff;
	color: #3f3f3f;
}
.usl-block {
	margin: 50px auto;
	clear: both;
	height: 150px;
}

.usl-block img {
	width: 220px;
	height: 150px;
	float: left;

	margin-right: 30px;
}

.usl-post {
	float: left;
	width: 550px;
}
.usl-post-title {
	font-size: 18px;
	font-weight: Bold;
}

.usl-post-description {
	font-size: 16px;
	padding-top: 10px;
}

.usl-post-button {
	padding-top: 20px;
}

.usl-post-button a {
	background-color: #9ad4a6;
	color: #FFF;
	font-family: Tahoma;
	text-decoration: none;
	padding: 10px;
	border-radius: 10px;
}

.team {
	background-color: #e1b7c7;
	color: #3f3f3f;
}
 .team-description {
 	width: 380px;
	text-align: center;
	padding-top: 15px;
	font-size: 14px;
	margin: 0 auto;
 	color: #3e3e3e;
 }

 .team-person {
 	width: 220px;
	margin: 15px 20px;
	background-color: #fff;
	text-align: center;
	float: left;
 }
 .team-person IMG {
 	width: 120px;
 	height: 120px;
 	padding-top: 15px;
 	padding-right: 50px;
 	padding-left: 50px;
 	padding-bottom: 20px;
 	background-color: #e9e9e9;

 }
 .team-name {
 	font-size: 26px;
 	padding-bottom: 5px;
 }
 .team-role {
 	font-size: 18px;
	font-weight: Bold;
	padding-bottom: 15px;
 }
 .team-about {
 	margin: 0 auto;
 	width: 190px;
	font-size: 16px;
	padding-bottom: 15px;
 }
 .team-social IMG {
	width: 30px;
	height: 30px;
	padding: 0px;
	background-color: #fff;
	padding-bottom: 15px;
 }